<!doctype html>
<html lang="en" ng-app="tracker">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/calendar.css"/>
  <link rel="stylesheet" href="css/color-picker.css"/>
  <link rel="stylesheet" href="css/snap.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
 <!-- <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>      -->


 <div snap-content class="snap-content"  data-snap-ignore="true" >
  <div id="toolbar" ng-controller="Header">
    <a href="javascript:void(0)" class="header-button" snap-toggle="left" ng-click="togglePanel()"><span class="glyphicon glyphicon-align-justify"></span></a>
    <div class="btn-group">
    <a href="javascript:void(0)" class="header-button dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="javascript:void(0)" ng-click="setTimeFilter('day')">Day</a></li>
      <li><a href="javascript:void(0)" ng-click="setTimeFilter('week')">Week</a></li>
      <li><a href="javascript:void(0)" ng-click="setTimeFilter('month')">Month</a></li>
      <li><a href="javascript:void(0)" ng-click="setTimeFilter('year')">Year</a></li>
      <li><a href="javascript:void(0)" ng-click="setTimeFilter('all')">All</a></li>
    </ul>
      </div>
    <h1>{{ timeFilterFrom | timeFrame:timeFilterFrame }} </h1>
    <a href="javascript:void(0)"><span class="glyphicon glyphicon-chevron-right header-button right" ng-click="ng-next()" ng-hide="timeFilterFrame === 'all'"></span></a>
    <a href="javascript:void(0)"><span class="glyphicon glyphicon-chevron-left header-button right" ng-click="previous()" ng-hide="timeFilterFrame === 'all'"></span></a>
  </div>
  <div id="main" ng-view></div>

  </div>


 <!-- LEFT PANEL -->
 <div snap-drawer class="snap-drawer snap-drawer-left">
   <div>
     <h3>Activity</h3>
     <div ng-controller="Panel">
       <a href="javascript:void(0)" ng-click="login()"><li ><span class="glyphicon glyphicon-user"></span> {{ username }}</li></a>
     <a href="#/index"><li ><span class="glyphicon glyphicon-th"></span> Timers</li></a>
     <a href="#/calendar"><li ><span class="glyphicon glyphicon-calendar"></span> Calendar</li></a>
     <h4>Categories</h4>
       <ul>
         <li ng-repeat="category in categories" class="category-list">
           <input type="checkbox" name="{{category.name + '-' + $index}}" id="{{category.name + '-' + $index}}" />
           <label ng-style="{'color': category.color}" for="{{category.name + '-' + $index}}" ng-click="category.collapsed = !category.collapsed"><span>{{ category.name }}</span></label>
           <div collapse="category.collapsed">
             <ul>
               <li class="activity" ng-repeat="activity in category.children">
                 {{ activity.name }}
               </li>
               <form ng-submit="addActivity(category, newActivity)">
                 <div class="input-group">
                   <input type="text" class="form-control" ng-model="newActivity.name" placeholder="New activity">
                   <span class="input-group-btn">
                     <button type="submit" class="btn btn-default" type="button">Add!</button>
                    </span>
                 </div>
               </form>
             </ul>
           </div>
         </li>
         <button class="btn btn-primary" ng-click="newCatCollapsed = !newCatCollapsed"><span class="glyphicon glyphicon-plus-sign"></span> New Category</button>
         <div collapse="newCatCollapsed">
           <form class="ng-pristine ng-valid" id="category-form">
           <input type="text" class="form-control" ng-model="newCategory.name" placeholder="Name" required>
           <button colorpicker="" class="btn btn-default" ng-model="newCategory.color" ng-style="{'background-color': newCategory.color}" type="button">Pick a color</button>
           <div class="checkbox">
             <label>
               <input type="checkbox" ng-model="newCategory.singleActivity"> Single activity <a><span tooltip-placement="right" tooltip="If true, activities in this category will never overlap." class="glyphicon glyphicon-question-sign"></span></a>
             </label>
           </div>
           <button class="btn btn-success" ng-click="addCategory(newCategory)" type="submit">Create</button>
           </form>
         </div>
       </ul>
     </div>
   </div>
 </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->

 <script type="text/javascript" src="phonegap.js"></script>
 <script type="text/javascript" src="childbrowser.js"></script>
 <script src="components/jquery/jquery.js"></script>
 <script src="lib/jquery-ui.js"></script>
 <script src="components/jquery-bridget/jquery.bridget.js"></script>
 <script src="components/get-style-property/get-style-property.js"></script>
 <script src="components/get-size/get-size.js"></script>
 <script src="components/eventEmitter/EventEmitter.js"></script>
 <script src="components/eventie/eventie.js"></script>
 <script src="components/doc-ready/doc-ready.js"></script>
 <script src="components/matches-selector/matches-selector.js"></script>
 <script src="components/outlayer/item.js"></script>
 <script src="components/outlayer/outlayer.js"></script>
 <script src="components/masonry/masonry.js"></script>
 <script src="components/imagesloaded/imagesloaded.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/calendar.js"></script>
  <script src="lib/fullcalendar.js"></script>
 <script src="lib/lodash.js"></script>
 <script src="components/angular-masonry/angular-masonry.js"></script>
  <script src="lib/snap.js"></script>
  <script src="lib/color-picker.js"></script>
  <script src="lib/angular-snap.js"></script>
  <script src="lib/ui-bootstrap.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/Category.js"></script>
  <script src="js/services/Pryv.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
